h1{
margin-top: 50px;
margin-bottom: 20px;
border-style: solid;
border-width: 3px;
border-color: #6c6cb5;
text-align: center;
padding: 10px;
background-color: #f17389;
color: white;
}

#box{
  border-style: solid;
}
